<section>
  <div>
    <h2>Add A Card to the Database</h2>
    <form action="submit">
      <label for="cardName">Card Name</label>
      <input type="text" name="cardName" />
      <label for="cardName">Card Type</label>
      <input type="text" name="cardType" />
      <label for="cardSubtype">Card Subtype</label>
      <input type="text" name="cardSubtype" />
      <label for="SetId">Set Id</label>
      <input type="text" name="setId" />
      <label for="setNumber">Set Number</label>
      <input type="text" name="setNumber" />
      <label for="rarity">Rarity</label>
      <input type="text" name="" rarity />
      <label for="colorId">Color Id</label>
      <input type="text" name="colorId" />
      <label for="manaValue">Mana Value</label>
      <input type="text" name="" manaValue />
      <label for="keywords">Keywords</label>
      <input type="text" name="keywords" />
    </form>
  </div>
</section>